@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;900&family=Six+Caps&display=swap');

$ff-serif: 'Merriweather', serif;
$ff-sans: 'Six Caps', sans-serif;

$fw-normal: 400;
$fw-bold: 900;

$text-primary: $gray;
$text-accent: $accent;
// $text-secondary: 